html {
    height: 100%;
    width: 100%;
    background-color: #ddd;
}

#container {
    max-width: 400px;
    margin: 0 auto;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.card__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card__btn-delete {
    cursor: pointer;
    border-radius: 5px;
}